// Here goes your CSS
@import 'layout/main';

.popup{
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    justify-content: center;
    align-items: center;
    display: none;
    .popup-form{
        height: 320px;
        width: 270px;
        background: white;
        padding: 20px;
        border-radius: 5px;
        position: relative;
        .form-title{
            margin-top: 10%;
            font-family: 'Lobster', sans-serif;
            text-align: center;
        }
        .fas {
            cursor: pointer;
            position: absolute;
            top: -6px;
            right: -4px;
            height: 25px;
            font-size: 30px;
        }
       
        input{
            margin: 15px auto;
            display: block;
            width: 80%;
            padding: 8px;
            border: 1.5px solid #5a5d5e;
            height: 8%;
        }
        .agree{
            margin-top: -30px;
            margin-left: 5%;
            display: inline-block;
            height: 8%;
            width: 100%;
            position: relative;
            cursor: pointer;
            input{
                height: 20px;
                width: 20px;           
                display: none;
                top:0;
                border: none;
            }         
            .checkmark{
                display: inline-block;
                width: 20px;
                height: 20px;
                position: absolute;
                left:5px;
                border: 1px solid black;
            }
            input:checked + .checkmark::after{
                content: "";
                position: absolute;
                height: 7px;
                width: 16px;
                border-left: 4px solid black;
                border-bottom: 4px solid black;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            h3{
                font-size: 15px;
                margin-left: 30px;
                color: #45494b;
                margin-top: 0; 
            } 
        }       
        .btn-submit{
            margin: 20px auto;
            display: block;
            width: 87%;
            padding: 0px;
            height: 45px;
            border: none;
            color: white;
            background-color: black;
        } 
        .btn-submit:hover{
            background-color: $secondary-color;
            cursor: pointer;
        }
       
    }
}
#show-thankyou{
    display: none;
}
